* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
}

.father {
    display: flex;
}

input {
    border-radius: 10px;
    padding: 10px;
    font-style: italic;
    text-align: center;}

select {
    padding: 10px;
}

button {
    border-radius: 10px;
    padding: 10px;
    background-color: blue;
    font-style: italic;}

table {
    margin-top: 200px;
    width: 30%;
    border-collapse: collapse;
    
}
thead{
    font-weight: bold;
    text-transform: uppercase ;
}


td,th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
td{
    font-weight: bold;
}
tr:hover{
    background-color: rgb(73, 72, 72);
    color: white;
}

.str{
    max-width: 100px;
}